{% extends 'base.html.twig' %} 

{% block title %}Barbo Solar{% endblock %}

{% block body %}

    <div class="container mt-2">

    

<div class="row">   
    <div class="col-xl-3 col-md-3 mb-3">
        <div class="card shadow alturacard">
            <div class="card-body p-3 text-center">
                <img class="iconebarbo" src="../icon/projeto.png">
                <h4>Projetos</h4>
                <p>Uma boa instalação começa sempre com um bom projeto. 
                Nossos projetos são todos realizados em 3D com simulação de sombreamento e efeciência. 
                Utilizamos as mais modernas ferramentas e softwares como PV*Sol, Sketchup, Autocad... 
                Faça seu projeto conosco.</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-3">
        <div class="card shadow alturacard">
            <div class="card-body p-3 text-center">
                <img  class="iconebarbo" src="../icon/lampada.png">
                <h4>Consultoria</h4>
                <p>A Barbo Solar é uma empresa do grepo Barbo Engenharia, que tem mais de 35 anos de expertise em projetos de instalções elétricas dos mais variados tipos. 
                Tanto tempo projetando com excelência nos capacita para dar consultoria em projetos de treceiros juntando forças para sempre termos os melhores resultados para os nossos clientes.</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-3">        
        <div class="card shadow alturacard">
            <div class="card-body p-3 text-center">
                <img  class="iconebarbo" src="../icon/instalacao.png">
                <h4>instalação</h4>
                <p>Com diversas instalações já realizadas com sucesso, assim como nossas parcerias comerciais com diversos fabricantes, isso nos coloca sempre como uma excelente opção para sua instalação. 
                Sempre teremos a melhor solução que atenda suas necessidades sempre com o melhor custo x benefício. </p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-3 mb-3">
        <div class="card shadow alturacard">
            <div class="card-body p-3 text-center">
                <img  class="iconebarbo" src="../icon/homologacao.png">
                <h4>Homologação</h4>
                <p>Atuamos junto à todas as concessionária cumprimdo todos os tramitis legais e responsabilidades técnicas entregando aos nossos cliente uma solução completa e funicional. </p>
            </div>
        </div>
    </div>
</div>
       
        
    </div>


    
{% endblock %}
